body{
    background-color: #FFF;
    font-weight: 200;
    color: #444
}
h1,h2,h3,h4{
    font-weight: 400;
}

.title{
    text-align: center;
}

.pull-down{
   margin-top: 7rem; 
}

.center{
    text-align: center;
}

.indicator{
    height: 300px;
    padding: 0rem 1rem 0.5rem 1rem;
}

.value{
    font-weight: 600;
}

#root{
    padding: 1rem;
    border: 1px dashed grey;
}

